<!DOCTYPE html>
<html>
<head>
    <title>UK Result demo - home</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0">

    <meta content='true' name='HandheldFriendly'>
    <meta content='width' name='MobileOptimized'>
    <meta content='yes' name='apple-mobile-web-app-capable'>

    <meta name="theme-color" content="#c2b385"> 
    <!-- Chrome, Firefox OS and Opera -->
    <meta name="theme-color" content="#c2b385"> 
    <!-- Windows Phone -->
    <meta name="msapplication-navbutton-color" content="#c2b385"> 
    <!-- iOS Safari -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"> 
    <!-- Яндекс.Браузер -->
    <meta name="viewport" content="ya-title=#c2b385,ya-dock=fade">      

    <link rel="stylesheet" type="text/css" href="css/normalize.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">

    <!-- Plugins -->

</head>

<body class="home">


<div class="preloader" id="preloader" style="display: flex;">
    <svg width="38" height="38" viewBox="0 0 38 38" xmlns="http://www.w3.org/2000/svg" stroke="#c2b385">
        <g fill="none" fill-rule="evenodd">
            <g transform="translate(1 1)" stroke-width="1">
                <!--circle stroke-opacity=".6" cx="18" cy="18" r="18"/-->
                <circle stroke-opacity="1" cx="18" cy="18" r="18" stroke="#ddd"/>
                <path d="M36 18c0-9.94-8.06-18-18-18">
                    <animateTransform attributeName="transform" type="rotate" from="0 18 18" to="360 18 18" dur="1.25s" repeatCount="indefinite"/>
                </path>
            </g>
        </g>
    </svg>

    <img src="images/logo_result.png" alt="{{site.name}}">
</div>




{{> header}}




{{> overlay-search}}




<section class="section section-services bg-grey">
    <div class="container">

        <div class="row">
            <div class="mv_24">
                <h2 class="title">6 популярных услуг</h2>
            </div>
        </div>

        <!--  v3  -->
        <div class="row services ">
            
            {{#each services}}
            <div class="{{services_class_helper @index}} centered">
                <a class="services__item" href="#">
                    <div class="services__item-icon">
                        <img src="uploads/services/{{item-image}}" alt="{{item-title}}">
                    </div>                    
                    <div class="services__item-title">
                        <span>{{item-title}}</span>
                    </div>                    
                </a>
            </div>
            {{/each}}      

        </div>


        <div class="row offers">

            {{#each offers}}
            <div class="{{offers_class_helper @index}} ">
                <div class="offers__item">

                    <div class="offers__item-header">
                        <div class="offers__item-icon">
                            <img src="images/{{item-image}}" alt="{{title}}">
                        </div>
                        <div class="offers__item-title">{{item-title}}</div>
                        <div class="offers__item-button centered tb_hidden">
                            <a href="" class="btn-btn-readmore js-readmore js-trigger"  data-target="offers__item__list_{{id}}" data-text-default="Развернуть" data-text-open="Свернуть"><span>Развернуть</span></a>
                        </div>
                    </div>

                    <div class="offers__item-content">
                        <ul class="offers__item-list" id="offers__item__list_{{id}}">
                            {{#list}}
                            <li class="offers__item-list-item">
                                <img src="images/{{list-item-image}}" alt="{{list-item-title}}">
                                <a href="#">{{list-item-title}}</a>
                            </li>
                            {{/list}}
                        </ul>
                    </div>

                </div>
            </div>
            {{/each}}

        </div>


    </div>
</section>




<section class="section section-intro">
    <div class="container">

        <div class="row">
            <div class="mv_24 ds_12 ds_offset_12 lefted">
                <h2 class="title">О Компании</h2>
            </div>
        </div>

            <div class="row intro">

                <div class="mv_24 tb_18 tb_offset_3 ds_12 ds_offset_0">
                    <div class="intro__image">
                        <picture>
                            <source media="(max-width: 1024px)" srcset="images/reflection-tb.jpg">
                            <source media="(max-width: 1920px)" srcset="images/reflection.jpg">

                            <img src="images/reflection.jpg">                            
                        </picture>                        
                    </div>
                </div>

                <div class="mv_24 tb_24 ds_12">
                    <div class="intro__text content">
                    
                        <p>Юридическое агентство <strong>«Московская гильдия бизнес-консультантов»</strong> было основано в 2000 году как Дальневосточное представительство. Наша компания объединяет квалифицированных юристов Приморья и Московской области, имеющих большой опыт в сфере оказания адвокатских услуг компаниям и физическим лицам.
                        </p>
                        <p>Мы гибко и динамично реагируем на любые изменения в законодательстве и обстановке в нашей стране, получая информацию из первоисточника – юридических структур и департаментов столицы Российской Федерации.
                        </p>
                        <p>Специалисты нашей компании готовы профессионально решать любые гражданские, жилищные, семейные, трудовые, наследственные, арбитражные и иные судебные споры. Мы найдем ответы на любые юридические вопросы и окажем квалифицированную правовую помощь в любое время суток. Работая с нами, Вы можете быть уверены в том, что всегда получите квалифицированную помощь юриста.
                        </p>
                    
                    </div>
                    
                    <div class="intro__button">
                        <a href="#" class="btn btn-order js-modal-open" data-target="modal-request">Получить консультацию</a>
                    </div>
                </div>


            </div>        

    </div>
</section>




<section class="section section-difference">
    <div class="container">
        <div class="difference">


            <!--  v3  all items in one stream, flex -->

                <ul class="difference__list row-flex top">

                    <div class="mv_20 mv_offset_2 tb_10 tb_offset_1 ds_8 ds_offset_2 difference__list-item-outer collapse">
                        <li>
                            <h2 class="title title-red title-difference">Как работаем мы </h2>
                        </li>
                    </div>
                    
                    {{#difference-we}}
                    <div class="mv_20 mv_offset_2 tb_10 tb_offset_1 ds_8 ds_offset_2 difference__list-item-outer collapse">
                        <li class="difference__list-item  difference__list-item--we">
                            <div class="difference__list-item-title">{{item-title}}</div>
                            <div class="difference__list-item-text">{{item-text}}</div>
                        </li>
                    </div>
                    {{/difference-we}}

                    <div class="mv_20 mv_offset_2 tb_10 tb_offset_2 ds_8 ds_offset_4 difference__list-item-outer collapse">
                        <li>
                            <h2 class="title title-red title-difference">наши конкуренты </h2>
                        </li>
                    </div>
                    
                    {{#difference-competitor}}
                    <div class="mv_20 mv_offset_2 tb_10 tb_offset_2 ds_8 ds_offset_4 difference__list-item-outer collapse">
                        <li class="difference__list-item difference__list-item--they">
                            <div class="difference__list-item-title">{{item-title}}</div>
                            <div class="difference__list-item-text">{{item-text}}</div>
                        </li>
                    </div>
                    {{/difference-competitor}}    

                </ul>


            <!--  v2  all items in one stream, columns:2 -->    
            <!--div class="mv_24">
                <ul class="difference__list difference__list--we row">

                    <div class="mv_20 mv_offset_2 tb_10 tb_offset_1 ds_8 ds_offset_2">
                        <li>
                            <h2 class="title title-red title-difference">Как работаем мы </h2>
                        </li>
                    </div>
                    
                    {{#difference-we}}
                    <div class="mv_20 mv_offset_2 tb_10 tb_offset_1 ds_8 ds_offset_2">
                        <li class="difference__list-item  ">
                            <div class="difference__list-item-title">{{item-title}}</div>
                            <div class="difference__list-item-text">{{item-text}}</div>
                        </li>
                    </div>
                    {{/difference-we}}

                    <div class="mv_20 mv_offset_2 tb_10 tb_offset_2 ds_8 ds_offset_4">
                        <li>
                            <h2 class="title title-red title-difference">Как работаем мы </h2>
                        </li>
                    </div>
                    
                    {{#difference-competitor}}
                    <div class="mv_20 mv_offset_2 tb_10 tb_offset_2 ds_8 ds_offset_4">
                        <li class="difference__list-item">
                            <div class="difference__list-item-title">{{item-title}}</div>
                            <div class="difference__list-item-text">{{item-text}}</div>
                        </li>
                    </div>
                    {{/difference-competitor}}    

                </ul>
            </div-->



            <!--div class="mv_20 mv_offset_2 tb_10 tb_offset_1 ds_8 ds_offset_2">
                <ul class="difference__list difference__list--we">
                    <li>
                        <h2 class="title title-red title-difference">Как работаем мы </h2>
                    </li>
                    
                    {{#difference-we}}
                    <li class="difference__list-item  ">
                        <div class="difference__list-item-title">{{item-title}}</div>
                        <div class="difference__list-item-text">{{item-text}}</div>
                    </li>
                    {{/difference-we}}

                </ul>
            </div>

            <div class="mv_20 mv_offset_2 tb_10 tb_offset_2 ds_8 ds_offset_4">
                <ul class="difference__list difference__list--competitor">
                    <li>
                        <h2 class="title title-red title-difference">Как работаем мы </h2>
                    </li>
                    
                    {{#difference-competitor}}
                    <li class="difference__list-item">
                        <div class="difference__list-item-title">{{item-title}}</div>
                        <div class="difference__list-item-text">{{item-text}}</div>
                    </li>
                    {{/difference-competitor}}

                </ul>                
            </div-->

        </div>
    </div>
</section>




<section class="section section-form section-form--request">
    <div class="container">

        <div class="row">
            <div class="mv_24 tb_16 tb_offset_8 ">
                <h2 class="title">Оставьте заявку и получите бесплатную консультацию юриста</h2>
            </div>
        </div>

    </div>


    <div class="bg-grey request">
        <div class="container">
            <div class="row ">
                
                <div class="mv_24 tb_16 tb_offset_8  ds_18 ds_offset_6 form-outer">
                    <form action="#" class="form form--request">                        

                        <div class="row">
                            <div class="mv_24 tb_12 ds_8 field-outer">
                                <input name="your-name" class="field--text" placeholder="Ваше имя" type="text">
                            </div>
                            <div class="mv_24 tb_12 ds_8 field-outer">
                                <input name="your-phone" class="field--text" placeholder="Ваш телефон" type="phone">
                            </div>
                            <div class="mv_24 ds_8 field-outer">
                                <a href="#" class="btn btn-submit">Отправить заявку</a>
                            </div>
                        </div>

                    </form>
                </div>
        
            </div>

            <div class="row">
                <div class="mv_24 tb_16 tb_offset_8 ds_18 ds_offset_6 ">
                    <div class="form__notice">В течение часа с Вами свяжется наш менеджер и ответит на все интересуюшие вопросы</div>
                </div>
                <div class="request__image">
                    <img src="images/section-request-girl.png" alt="">
                </div>                  
            </div>

        </div>        
    </div>

</section>




<section class="section section-reviews">
    <div class="container">

        <div class="row">
            <div class="mv_24">
                <h2 class="title">Отзывы наших клиентов</h2>
            </div>
        </div>

        <div class="row">
            <div class="mv_24 reviews-outer">
                <div class="row reviews owl-carousel">
                    
                    {{#reviews}}
                    <div class="mv_22 mv_offset_0 tb_8 tb_offset_0 reviews__item-outer">
                        <div class="reviews__item centered">
                            <a href="uploads/reviews/{{item-image-large}}" class="reviews__item-image" data-fancybox="galleryreviews">
                            <!-- <a data-fancybox="gallery" href="big_1.jpg"><img src="small_1.jpg"></a> -->
                                <img src="uploads/reviews/{{item-image}}" alt="{{item-title}}">
                            </a>
                        </div>
                    </div>
                    {{/reviews}}
                
                </div>
            </div>
        </div>        

    </div>
</section>




<section class="section section-about">
    <div class="container">

        <div class="row">
            <div class="mv_24">
                <h2 class="title">Почему выбирают нас?</h2>
            </div>
        </div>


        <div class="row about">
            <div class="mv_24 ds_24 content">
                <div class="row">
                    <div class="mv_24 ds_18 content">
                        <p>Специалисты Юридического агентства «Москонсалт» в течение <strong>17 лет</strong> специализируются на юридических услугах и решении различных правовых вопросов, среди которых особенно выделяются <strong>защита интересов в суде</strong> юридических и физических лиц
                            <strong>на всех стадиях</strong> производства, представление интересов в Арбитражном суде, получение лицензий (в том числе, получение строительных лицензий, получение медицинских лицензий, получение пожарных лицензий МЧС, получение реставрационных
                            лицензий Минкультуры, получение алкогольных лицензий, получение лицензий на охранную и детективную деятельность и др.), получение допусков СРО для строительных, проектировочных, изыскательских организаций, регистрация предприятий
                            (регистрация ИП, регистрация ООО, регистрация АО, регистрация организаций с иностранными инвестициями, регистрация некоммерческих организаций, регистрация оффшоров, регистрация эмиссии акций в ФСФР, регистрация фирменного знака),
                            ликвидация юридических лиц, закрытие фирм, подготовка документов и регистрация любых сделок с недвижимостью, приватизация квартир, бухгалтерские услуги. <strong>Обращаясь в наше агентство, Вы всегда можете быть уверены в том, что получите
                                квалифицированную помощь.</strong>
                        </p>
                        <p>Мы готовы профессионально решать любые гражданские, жилищные, семейные, трудовые, наследственные, арбитражные и иные судебные споры и найдем ответы на все Ваши вопросы.</p>                            
                    </div>
                    <div class="mv_24 ds_6">
                        <div class="about__decor">
                            Молоток
                            <img src="images/about__decor.png" alt="">
                        </div>
                    </div>
                </div>

                <p class="rquote"><strong>Юридическое агентство «Москонсалт»</strong> уже более 5 лет специализируется на включении строительных и иных компаний в реестр саморегулируемых организаций (СРО). С нашей помощью Ваша компания сможет <a href="http://urcompanya.ru/services/companies/dopuski-sro/">вступить в СРО</a>                        в самые кратчайшие сроки. Мы являемся официальными представителями нескольких СРО, что делает возможным получение Вами допуска быстро и качественно!
                </p>
                <p>Многие наши клиенты из Владивостока и других городов Приморского края, обратившись однажды, теперь регулярно пользуются услугами Юридического агентства «Москонсалт». Многие из них приобрели абонемент постоянного юридического обслуживания,
                    позволяющий значительно сэкономить на решении текущих правовых вопросов. Только в нашем агентстве при заключении договора на абонементное юридическое обслуживание Вы получаете <strong><a href="http://urcompanya.ru/services/companies/polis/">Юридический полис</a>,</strong>                        который дает вам право преимущественного пользования нашими услугами в любое время дня и ночи!</p>
                <p class="rquote">Отношения между нами и клиентами построены, прежде всего, на основах взаимного доверия – мы всегда соблюдаем режим конфиденциальности в своей работе.
                Если Вы не хотите ограничиваться решением конкретной задачи и желаете снизить финансовые риски в будущем, полностью обезопасив свой бизнес, – Вы правильно выбрали компанию, оказывающую юридические услуги. Мы всегда стремимся к тому,
                    чтобы отношения с клиентами были взаимовыгодным сотрудничеством.</p>

            </div>
        </div>        

    </div>
</section>




<section class="section section-form section-form--consultation">
    <div class="container">

        <div class="row">
            <div class="mv_24 tb_24 ds_18 ds_offset_3">
                <a href="#" class="btn btn-more">Узнайте больше</a>
            </div>                 
        </div> 

        <div class="row">
            <div class="mv_24 tb_24 ds_18 ds_offset_3 ">
                <h2 class="title title-white">получите бесплатную консультацию</h2>
            </div>
        </div>

        <div class="row">
            <div class="mv_24 tb_24 ds_18 ds_offset_3">
                <div class="form__subtitle form__notice--white">Заполните форму и наш менеджер свяжется с вами в течение 10 минут</div>
            </div>                 
        </div>  


        <div class="row consultation">
            <div class="mv_24 tb_24 ds_18 ds_offset_3 form-outer">
                    <form action="#" class="form form--consultation">                        

                        <div class="row">
                            <div class="mv_24 tb_8 ds_8 field-outer">
                                <input name="your-name" class="field--text" placeholder="Ваше имя" type="text">
                            </div>
                            <div class="mv_24 tb_8 ds_8 field-outer">
                                <input name="your-name" class="field--text" placeholder="Ваше имя" type="phone">
                            </div>
                            <div class="mv_24 tb_8 ds_8 field-outer">
                                <a href="#" class="btn btn-submit">Отправить заявку</a>
                            </div>
                        </div>

                    </form>
            </div>
        </div>

        <div class="row">
            <div class="mv_24 tb_24 ds_18 ds_offset_3">
                <div class="form__notice form__notice--white">Нам доверяют больше <b>500 клиентов</b></div>
            </div>                 
        </div>        

 
    </div>

</section>




<section class="section section-news">
    <div class="container">

        <div class="row">
            <div class="mv_24">
                <h2 class="title">Новости отрасли</h2>
            </div>
        </div>


        <div class="row  ">
            
           <div class="mv_24 news--card ">
                <div class="row ">


                {{#each news}}

                   <div class="mv_24 mv_offset_0 tb_12 tb_offset_0 ds_6 news__item-outer--{{@index}}">
                       <div class="news__item">
                   
                           <a href="{{item-link}}" class="news__item-image">
                               <img src="uploads/news/{{item-image}}" alt="{{item-title}}">
                           </a>
                   
                           <div class="news__item-content">
                                <div class="news__item-content-inner">
                                    <div class="news__item-title">
                                        <a href="#">{{capitals item-title}} {{item-title}}</a>
                                    </div>
                                    <time class="news__item-date" datetime="{{item-datetime}}">{{item-date}}</time>
                                    <div class="news__item-text">{{item-text}}</div>
                                </div>

                                <div class="news__item-button">
                                   <a href="{{item-link}}" class="btn btn-readmore">Читать дальше</a>
                                </div>
                           </div>
                       </div>
                   </div>
                {{/each}}


                </div>


           </div>

        </div>


    </div>
</section>




{{> footer}}



{{> overlay}}




    <!-- <script src="js/scripts.js"> </script> -->
    <script src="js/min/scripts.min.js"> </script>    

</body>
</html>